html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Oswald, 'sans-serif';
  background-color: #111;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#molvwr-container {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  bottom: 0;
  transition: -webkit-filter 200ms ease-out, filter 200ms ease-out;
  transition-delay: 200ms, 200ms;
}
#molvwr-container > canvas {
  margin-top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  touch-action: none;
}
#pagetitle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  text-transform: uppercase;
  background-color: #111;
  color: white;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 20px 0 40px;
}
#pagetitle #moleculetitle {
  display: inline-block;
  font-weight: 700;
  font-size: 18pt;
  margin-right: 10px;
  cursor: pointer;
  touch-action: manipulation;
}
#pagetitle #pageactions {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1;
}
#pagetitle .iconbtn {
  display: inline-block;
  color: #777;
  cursor: pointer;
  touch-action: manipulation;
  font-size: 32pt;
  height: 40px;
  width: 40px;
  line-height: 1px;
  margin: 0;
  margin-right: 10px;
}
#pagetitle .iconbtn:last-child {
  margin-right: 0;
}
#pagetitle .space {
  flex: 1;
}
#pagecontent {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
#pagecontent #pagecontentwrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
#loadingstate {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #111;
  color: white;
  padding: 0.3em 1em;
  display: none;
}
#loadingstate.visible {
  display: block;
}
.haspanel #pagecontent #pagecontentwrapper #molvwr-container {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
#description-panel {
  padding: 20px 40px;
  box-sizing: border-box;
}
#description-panel #formula .atomformula {
  font-size: 1.5em;
}
#description-panel #formula .atomformula .atomcount {
  font-size: 0.5em;
  color: #CCC;
}
#description-panel #formularemark {
  margin-bottom: 20px;
  font-size: 0.7em;
  color: #999;
}
#description-panel #atomslegend {
  margin-bottom: 10px;
}
#description-panel #atomslegend .atomlegend {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 10px;
}
#description-panel #atomslegend .atomlegend .dot {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
#description-panel #atomslegend .atomlegend .dot.atom-H,
#description-panel #atomslegend .atomlegend .dot.atom-S {
  color: black;
}
.leftitemspanel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  max-width: 80%;
  overflow: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: transform 200ms ease-out;
  -moz-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
}
.leftitemspanel.visible {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.leftitemspanel .panel-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.leftitemspanel .panel-content .paneldetail {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 40px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: transform 120ms ease-out;
  -moz-transition: transform 120ms ease-out;
  transition: transform 120ms ease-out;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.leftitemspanel .panel-content .paneldetail.visible {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.leftitemspanel .panel-content .paneldetail.away {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.leftitemspanel .items {
  width: 100%;
  color: white;
  position: relative;
}
.leftitemspanel .items.hasClose {
  padding-top: 32px;
}
.leftitemspanel .items > .title {
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
}
.leftitemspanel .items .btnclose {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 32px;
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
  touch-action: manipulation;
  color: #999;
}
.leftitemspanel .items .choice-item {
  padding: 6px 0;
  font-size: 14pt;
  cursor: pointer;
  touch-action: manipulation;
}
.leftitemspanel .items .choice-item.container > .title,
.leftitemspanel .items .choice-item.inline-container > .title {
  text-transform: uppercase;
}
.leftitemspanel .items .choice-item.container > .title:before,
.leftitemspanel .items .choice-item.inline-container > .title:before {
  content: '> ';
}
.leftitemspanel .items .choice-item.container > .child-items,
.leftitemspanel .items .choice-item.inline-container > .child-items {
  padding-left: 20px;
  box-sizing: border-box;
}
.rightitemspanel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  max-width: 80%;
  padding: 70px 40px 40px 40px;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: transform 200ms ease-out;
  -moz-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
}
.rightitemspanel.visible {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#screencapture-panel {
  width: 800px;
  padding: 20px;
  text-align: center;
}
#screencapture-panel #screencapture {
  max-width: 100%;
  max-height: 60%;
}
#screencapture-panel p {
  text-align: center;
}
#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  touch-action: manipulation;
}
#overlay.visible {
  display: block;
}
#moleculeinfo.iconbtn {
  display: none;
  touch-action: manipulation;
  cursor: pointer;
}
#moleculeinfo.iconbtn.visible {
  display: block;
}
@media screen and (max-width: 800px) {
  #pagetitle {
    padding: 0 20px;
    height: 70px;
    display: block;
  }
  #pagetitle #moleculetitle {
    width: 100%;
    padding-top: 4px;
    font-size: 16pt;
    line-height: 1.2em;
  }
  #pagetitle .iconbtn {
    margin-left: 0;
    font-size: 26pt;
    height: 32px;
    width: 32px;
    line-height: 1px;
  }
  #pagetitle .iconbtn:first-child {
    margin-left: -10px;
  }
  #pagecontent {
    top: 70px;
  }
  #molecule-choice-panel .items .sample-item {
    font-size: 12pt;
  }
}
