@font-face {
  font-family: 'Outicons Basic';
  src: url('outicons-basic.eot?56781344');
  src: url('outicons-basic.eot?56781344#iefix') format('embedded-opentype'),
       url('outicons-basic.woff?56781344') format('woff'),
       url('outicons-basic.ttf?56781344') format('truetype'),
       url('outicons-basic.svg?56781344#outicons-basic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'outicons-basic';
    src: url('../font/outicons-basic.svg?56781344#outicons-basic') format('svg');
  }
}
*/
 
 [class^="oi-"]:before, [class*=" oi-"]:before {
  font-family: "Outicons Basic";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.oi-announce:before { content: '\e800'; } /* '' */
.oi-zoom-out:before { content: '\e801'; } /* '' */
.oi-chevron-right:before { content: '\e802'; } /* '' */
.oi-forward:before { content: '\e803'; } /* '' */
.oi-minus:before { content: '\e804'; } /* '' */
.oi-smile:before { content: '\e805'; } /* '' */
.oi-sort:before { content: '\e806'; } /* '' */
.oi-mobile:before { content: '\e807'; } /* '' */
.oi-frown:before { content: '\e808'; } /* '' */
.oi-chevron-up:before { content: '\e809'; } /* '' */
.oi-arrow-down:before { content: '\e80a'; } /* '' */
.oi-arrow-left:before { content: '\e80b'; } /* '' */
.oi-cloud-upload:before { content: '\e80c'; } /* '' */
.oi-gear:before { content: '\e80d'; } /* '' */
.oi-gplus:before { content: '\e80e'; } /* '' */
.oi-monitor:before { content: '\e80f'; } /* '' */
.oi-move:before { content: '\e810'; } /* '' */
.oi-sound:before { content: '\e811'; } /* '' */
.oi-star-filled:before { content: '\e812'; } /* '' */
.oi-copy:before { content: '\e813'; } /* '' */
.oi-arrow-up:before { content: '\e814'; } /* '' */
.oi-arrow-right:before { content: '\e815'; } /* '' */
.oi-cursor:before { content: '\e816'; } /* '' */
.oi-grid:before { content: '\e817'; } /* '' */
.oi-news:before { content: '\e818'; } /* '' */
.oi-star:before { content: '\e819'; } /* '' */
.oi-attachment:before { content: '\e81a'; } /* '' */
.oi-backward:before { content: '\e81b'; } /* '' */
.oi-discuss:before { content: '\e81c'; } /* '' */
.oi-cut:before { content: '\e81d'; } /* '' */
.oi-heart:before { content: '\e81e'; } /* '' */
.oi-heart-filled:before { content: '\e81f'; } /* '' */
.oi-headphone:before { content: '\e820'; } /* '' */
.oi-paste:before { content: '\e821'; } /* '' */
.oi-pause:before { content: '\e822'; } /* '' */
.oi-support:before { content: '\e823'; } /* '' */
.oi-tablet:before { content: '\e824'; } /* '' */
.oi-tags:before { content: '\e825'; } /* '' */
.oi-pencil:before { content: '\e826'; } /* '' */
.oi-dislike:before { content: '\e827'; } /* '' */
.oi-bell:before { content: '\e828'; } /* '' */
.oi-book:before { content: '\e829'; } /* '' */
.oi-download:before { content: '\e82a'; } /* '' */
.oi-help:before { content: '\e82b'; } /* '' */
.oi-photo:before { content: '\e82c'; } /* '' */
.oi-time:before { content: '\e82d'; } /* '' */
.oi-trash:before { content: '\e82e'; } /* '' */
.oi-plane:before { content: '\e82f'; } /* '' */
.oi-home:before { content: '\e830'; } /* '' */
.oi-edit:before { content: '\e831'; } /* '' */
.oi-bookmark:before { content: '\e832'; } /* '' */
.oi-building:before { content: '\e833'; } /* '' */
.oi-expand:before { content: '\e834'; } /* '' */
.oi-info:before { content: '\e835'; } /* '' */
.oi-play:before { content: '\e836'; } /* '' */
.oi-truck:before { content: '\e837'; } /* '' */
.oi-twitter:before { content: '\e838'; } /* '' */
.oi-plus:before { content: '\e839'; } /* '' */
.oi-laptop:before { content: '\e83a'; } /* '' */
.oi-export:before { content: '\e83b'; } /* '' */
.oi-calendar:before { content: '\e83c'; } /* '' */
.oi-call:before { content: '\e83d'; } /* '' */
.oi-external:before { content: '\e83e'; } /* '' */
.oi-like:before { content: '\e83f'; } /* '' */
.oi-power:before { content: '\e840'; } /* '' */
.oi-unlock:before { content: '\e841'; } /* '' */
.oi-upload:before { content: '\e842'; } /* '' */
.oi-print:before { content: '\e843'; } /* '' */
.oi-link:before { content: '\e844'; } /* '' */
.oi-eye:before { content: '\e845'; } /* '' */
.oi-camera:before { content: '\e846'; } /* '' */
.oi-cancel:before { content: '\e847'; } /* '' */
.oi-facebook:before { content: '\e848'; } /* '' */
.oi-list:before { content: '\e849'; } /* '' */
.oi-refresh:before { content: '\e84a'; } /* '' */
.oi-user:before { content: '\e84b'; } /* '' */
.oi-voice:before { content: '\e84c'; } /* '' */
.oi-sale:before { content: '\e84d'; } /* '' */
.oi-location:before { content: '\e84e'; } /* '' */
.oi-file:before { content: '\e84f'; } /* '' */
.oi-cart:before { content: '\e850'; } /* '' */
.oi-chat:before { content: '\e851'; } /* '' */
.oi-filter:before { content: '\e852'; } /* '' */
.oi-lock:before { content: '\e853'; } /* '' */
.oi-save:before { content: '\e854'; } /* '' */
.oi-warning:before { content: '\e855'; } /* '' */
.oi-wifi:before { content: '\e856'; } /* '' */
.oi-search:before { content: '\e857'; } /* '' */
.oi-mail:before { content: '\e858'; } /* '' */
.oi-flag:before { content: '\e859'; } /* '' */
.oi-check:before { content: '\e85a'; } /* '' */
.oi-chevron-down:before { content: '\e85b'; } /* '' */
.oi-font:before { content: '\e85c'; } /* '' */
.oi-menu:before { content: '\e85d'; } /* '' */
.oi-share-alt:before { content: '\e85e'; } /* '' */
.oi-zoom-in:before { content: '\e85f'; } /* '' */
.oi-share:before { content: '\e860'; } /* '' */
.oi-minimize:before { content: '\e861'; } /* '' */
.oi-forbidden:before { content: '\e862'; } /* '' */
.oi-chevron-left:before { content: '\e863'; } /* '' */