html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Oswald, 'sans-serif';
  background-color: #111;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#molvwr-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#molvwr-container > canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
#pagetitle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-transform: uppercase;
  color: black;
}
#pagetitle #about {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  font-size: 10pt;
  float: right;
  cursor: pointer;
  opacity: 0.5;
}
#pagetitle #moleculetitle {
  background-color: black;
  color: white;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px 10px 40px;
  font-weight: 700;
  font-size: 18pt;
  cursor: pointer;
}
#molecule-choice-panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  max-width: 100%;
  padding: 90px 40px 20px 40px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: transform 200ms ease-out;
  -moz-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
}
#molecule-choice-panel.visible {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#molecule-choice-panel .items {
  width: 100%;
  color: white;
}
#molecule-choice-panel .items .sample-item {
  padding: 10px 0;
  font-size: 14pt;
  cursor: pointer;
}
#about-panel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  max-width: 100%;
  padding: 70px 40px 40px 40px;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: transform 200ms ease-out;
  -moz-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
}
#about-panel.visible {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
#overlay.visible {
  display: block;
}
